h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    text-align: center;
}

footer {
    text-align: center;
}

p {
    font-weight: 100;
}

.nav {
    text-align: center;
    font-size: 30px;
}

.nav:hover {
    background-color: hsl(0, 0%, 67%);
}

.title1 {
    display: grid;
    grid-template-rows: 170px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
}

.yellow {
    background-color: rgb(255, 208, 0);
    grid-column: span 2;
}

.img {
    background-color: rgb(199, 18, 18);
    text-align: center;
}

.helm {
    height: 160px;
    border-radius: 10%;
}

.tonii {
    height: 300px;
    float: left;
    padding: 10px;
    padding-right: 20px;
    border-radius: 10%;
}

.ton {
    padding-right: 100px;
}

.tony {
    font-weight: 100;
    line-height: 1.6;
    padding: 30px;
}

.marks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 170px;
    text-align: center;
    padding-bottom: 400px;
}

.pro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    text-align: center;
}

.mark1 {
    height: 330px;
    border-radius: 10%;
}

.mark2 {
    height: 330px;
    border-radius: 10%;
}

.mark3 {
    height: 330px;
    border-radius: 10%;
}

.stane {
    border-radius: 10%;
}

.monger {
    border-radius: 10%;
}

.title2 {
    display: grid;
    grid-template-rows: 170px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
}

.page2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 380px 380px;
    gap: 30px;
}

.tonyy1 {
    height: 350px;
    border-radius: 10%;
    justify-self: center;
    align-self: center;
}

.tonyy3 {
    grid-column: span 2;
    font-weight: 100;
    line-height: 1.6;
}

.tonyyy {
    grid-column: span 2;
}

.tonyyy3 {
    justify-self: center;
    align-self: center;
}

.tonyyyy2 {
    justify-self: center;
    align-self: center;
    border-radius: 10%
}

.nelement {
    height: 350px;
    border-radius: 10%;
}

.pelement {
    grid-column: span 2;
}

.vid {
    border-radius: 10%;
    height: 380px;
}

* {
    text-decoration: none;
}

.navbar {
    background-color: maroon;
    font-family: cursive;
    padding: 15px;
    border-radius: 20px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 35px;
    font-weight: 600;
    color: white;
    padding-left: 10%;
    display: inline-block;
}

li {
    list-style: none;
    display: inline-block;
    font: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

li a {
    color: white;
}

#h1 {
    font-size: 35px;
    font-weight: 600;
    padding-left: 43%;
    padding-right: 43%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


#infos {
    list-style: none;
    color: black;
    float: right;
}

#img {
    max-width: 95%;
    height: 75%;
    margin: 5%;
    border-radius: 3%;
}

.p3 {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 20px;
    align-items: center;
}

#text {
    display: block;
    margin-right: 20%;
    box-shadow: 0 0 15px rgba(255, 60, 0, 0.2);
    transition: 0.3s;
}

#marks {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#infos {
    color: black;
    float: right;
    font-size: 15px;
    font-weight: bold;
}

.box-1 {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 20px;
    align-items: center;
    border-style: solid;
    border-radius: 4%;
}

.box-2 {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 20px;
    align-items: center;
    border-style: solid;
    border-radius: 4%;
}

.box-3 {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 20px;
    align-items: center;
    border-style: solid;
    border-radius: 4%;
}

.box-4 {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 20px;
    align-items: center;
    border-style: solid;
    border-radius: 4%;
}

.box-5 {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 20px;
    align-items: center;
    border-style: solid;
    border-radius: 4%;
}

.box-6 {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 20px;
    align-items: center;
    border-style: solid;
    border-radius: 4%;
}

#minfo {
    padding: 2%;
    margin: 1%;
}

#minfos {
    font-size: 25px;
}

#alls {
    align-items: center;
    width: 75%;
    height: 75%;
    margin-left: 13%;
    padding: 4px;
    border-style: solid;
    border-radius: 15px;
}

#asuit {
    margin-left: 8%;
    align-items: center;
    font-size: 35px;
}

#asuits {
    font-size: 20px;
    font-weight: bold;
}

.man3 {
    padding-left: 45%;
    background-color: maroon;
    color: aliceblue;
    font-size: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
}


section {
    padding: 80px 10%;
}

h2 {
    color: #ff3c00;
    margin-bottom: 20px;
}

.card {
    background: none;
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid #ff3c00;
    box-shadow: 0 0 15px rgba(255, 60, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(255, 60, 0, 0.5);
}

.comparison {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.comparison div {
    flex: 1;
    min-width: 250px;
    background: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 60, 0, 0.3);
}